body{
    width: 1000px;
    height: 90vh;
    margin: 0px auto;
}

.titulos{
    color: #008de1;
    text-align: center;
    text-decoration: underline;
}

.parrafos{
    font-size: 17px;
    color: #6c6c6c;
}

#principal{
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: white;
}

.detalles{
    border: 1px solid #606060;
    background-color: #e3e3e3;
    border-radius: 5px;
    padding: 1px 5px;
}

.marcoBusquedas{
    border: 6px solid #ddd;
    border-radius: 15px;
    padding: 10px 10px;
}